* {
    margin: 10px;
    padding: 0;
    background-color: rgb(241, 241, 191);
}


.portfolio-container {

    display: grid;
  
    grid-template-areas:
  
      "header header"
  
      "main-content sidebar"
  
      "footer footer";
  
    grid-template-columns: 2fr 1fr;
  
    gap: 20px;
  
  }
  
  .header {
  
    grid-area: header;
    
    padding: 20px;
  
    text-align: center;
  
  }
  
  .main-content {
  
    grid-area: main-content;
    
    padding: 20px;
  
    text-align: center;
  
  }
  
  .sidebar {
  
    grid-area: sidebar;
  
    background-color: #90ee90;  /* Color verde claro para la barra lateral */
  
    padding: 20px;
  
    text-align: center;
  
  }
  
  .footer {
  
    grid-area: footer;
  
    padding: 20px;
  
    text-align: center;
  
  }

h1 {
    text-align: center;
    font-family: "Borel", serif;
    font-weight: 400;
    font-style: normal;

}

p {

    text-align: left;
}


nav ul {
    text-align: right;

}

nav ul li {
    display: inline-block; /* Hace que los objetos esten alineados en horizontal*/
    background-color: rgb(241, 241, 191);
    width: 60px;
    padding: 8px;
    height: 20px;
    margin: 0 20px;
    box-sizing: border-box; /* El ancho total sera el indicado sin importar el relleno o borde*/
   
  
}

.login-button {

    background-color: #007BFF;
  
    color: white;
  
    border: none;
  
    padding: 10px 15px;
  
    cursor: pointer;

    
  }

nav ul li a {
    color: green;
    text-decoration: none;

}

nav ul li a:hover {
    color: red;
}

main {
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}

section>p {

    color: blue;
}

.caja {
    border-radius: 10px; /* Bordea las puntas de la caja */ 
    padding: 15px;
}

.importante {
    background-color: rgb(240, 182, 182);
    color: rgb(150, 0, 0);
    border: 1px solid #d00;

}

.contenedor {
    background-color: blue;
    display: flex; /* Activa la propiedad flex */
    justify-content: center; /* Centra los objetos de manera horizontal */ 
    
}

.inicio {
    background-color: rgb(850, 120, 350);
    color: rgb(550, 0, 0);
    border: 3px solid #a05;  
}

.beneficios {
    background-color: rgb(550, 292, 300);
    color: rgb(500, 0, 0);
    border: 5px solid #d05;
    display: inline-block;
    width: 20%;
}

.historia {
    background-color: rgb(350, 82, 200);
    color: rgb(100, 0, 0);
    border: 5px solid #d05;
}

.team {
    background-color: rgb(255, 235, 189);
    color: rgb(71, 117, 16);
    border: 3px solid rgb(9, 106, 35);
    border-top: 10px solid;
}


#AreadeTexto {

    background-color: white;
    width: 300px;
    height: 150px

}

.Boton {
    color: blue;
}


footer>p {

    text-align: center;
}

.fixed-menu {

    position: fixed; /* Fija un objeto dentro de la pagina web */
  
    top: 0;
  
    right: 0;
  
    width: 20%; 
  
    background-color: #333;
  
    color: white;
  
    text-align: center;
  
    padding: 10px 0;
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  
  }

.contenedor2 {
    background-color: blue;
    display: flex;
    flex-direction: row; /* Alinea los elementos de izquierda a derecha (valor por defecto).*/
    
}

.morado {
    background-color: mediumpurple;
    height: 200px;
}

.align-stretch{
    align-items: strech;
}

@media screen and (max-width: 550px) { /* Responsivo */
    .fixed-menu {
        background-color: red;
    
    }
    .imac {
        width: 250px;
        height: 300px;
    }
    
    
} 



.cookie-footer {

    position: fixed; 
  
    bottom: 0; 

    left: 0;
  
    right: 0;
  
    background-color: #222; 
  
    color: black; 
  
    padding: 1em;
  
    display: flex; /* Organiza el contenido de manera horizontal */
  
    justify-content: space-between; /* Espacia el texto y el botón */
  
    align-items: center;
  
  }
  
  .cookie-footer button {
  
    background-color: #4caf50; 
  
    color: white;
  
    border: none;
  
    padding: 0.5em 1em;
  
    cursor: pointer;
  
  }
  
  .cookie-footer button:hover { /* Se activa al pasar el mouse */
  
    background-color: #45a049; 
  
  }


  .sticky-note {

    position: sticky;
  
    top: 20px;
  
    background-color: green;
  
    padding: 10px;
  
    z-index: 500; /* Se asegura de estar por encima del contenido principal */
  
  }